@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');


.info-tela3 h1 {
    font-family: "Ribeye", Arial, Helvetica, serif;
    font-weight: 700;
    font-style: normal;
}

.info-tela3 p {
  color: black;
}

@media screen and (max-width: 425px) {
    .tela3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
    }

    .info-tela3 {
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .info-tela3 h1 {
        font-size: 24px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
        overflow: hidden;
        hyphens: auto;
    }

    .info-tela3 p {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        color: rgb(0, 0, 0);
    }

    /* Imagens */ 

    .img-tela3 {
        gap: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
        align-items: center;
    }

    .img-tela3 #img {
        border-radius: 10px;
        width: 100%;
        height: 370px;
    }

    .img-tela3 .img1 {
        background: url('/public/images/img1.png') center;
    }

    .img-tela3 .img2 {
        background: url('/public/images/img2.png')center;
    }

    .info-span {

        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 1rem;
        height: 45%;
        margin-top: 10.8rem;
        border-radius: 0 0 0.5rem 0.5rem;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .info-span h1 {
        font-size: 24px;
        width: 100%;
        word-wrap: break-word;
    }
    .info-span p {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        color: darkgrey;
        overflow-y: auto;
    }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
    .tela3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
    }

    .info-tela3 {
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .info-tela3 h1 {
        font-size: 24px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
        overflow: hidden;
        hyphens: auto;
        text-align: center;
    }

    .info-tela3 p {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    /* Imagens */ 

    .img-tela3 {
        gap: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
        align-items: center;
    }

    .img-tela3 #img {
        border-radius: 10px;
        width: 100%;
        height: 370px;
    }

    .img-tela3 .img1 {
        background: url('/public/images/img1.png') center;
    }

    .img-tela3 .img2 {
        background: url('/public/images/img2.png')center;
    }

    .info-span {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 1rem;
        height: 40%;
        margin-top: 11.9rem;
        border-radius: 0 0 0.5rem 0.5rem;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .info-span h1 {
        font-size: 24px;
        width: 100%;
        word-wrap: break-word;
    }
    .info-span p {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        color: darkgrey;
    }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
    .tela3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
    }

    .info-tela3 {
        width: 70%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .info-tela3 h1 {
        font-size: 24px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
        overflow: hidden;
        hyphens: auto;
    }

    .info-tela3 p {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        color: rgb(0, 0, 0);
    }

    /* Imagens */ 

    .img-tela3 {
        gap: 10px;
        display: flex;
        width: 70%;
        justify-content: center;
        margin-bottom: 2rem;
        align-items: center;
    }

    .img-tela3 #img {
        border-radius: 10px;
        width: 100%;
        height: 370px;
        
    }

    .img-tela3 .img1 {
        background: url('/public/images/img1.png') center;
    }

    .img-tela3 .img2 {
        background: url('/public/images/img2.png')center;
    }

    .info-span {
        
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 1rem;
        height: 42%;
        margin-top: 11.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .info-span h1 {
        font-size: 24px;
        width: 100%;
        word-wrap: break-word;
    }
    .info-span p {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        color: darkgrey;
        overflow-y: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tela3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
    }

    .info-tela3 {
        width: 70%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .info-tela3 h1 {
        font-size: 42px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
        overflow: hidden;
        hyphens: auto;
        text-align: center;
    }

    .info-tela3 p {
        font-size: 18px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    /* Imagens */ 

    .img-tela3 {
        gap: 10px;
        display: flex;
        width: 70%;
        justify-content: center;
        margin-bottom: 2rem;
        align-items: center;
    }

    .img-tela3 #img {
        border-radius: 10px;
        width: 100%;
        height: 370px;
        
    }

    .img-tela3 .img1 {
        background: url('/public/images/img1.png') center;
    }

    .img-tela3 .img2 {
        background: url('/public/images/img2.png')center;
    }

    .info-span {
        
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 1rem;
        height: 42%;
        margin-top: 11.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .info-span h1 {
        font-size: 24px;
        width: 100%;
        word-wrap: break-word;
    }
    .info-span p {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        color: darkgrey;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .tela3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
    }

    .info-tela3 {
        width: 70%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .info-tela3 h1 {
        font-size: 42px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
        overflow: hidden;
        hyphens: auto;
        text-align: center;
    }

    .info-tela3 p {
        font-size: px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    /* Imagens */ 

    .img-tela3 {
        gap: 10px;
        display: flex;
        width: 70%;
        justify-content: center;
        margin-bottom: 2rem;
        align-items: center;
    }

    .img-tela3 #img {
        border-radius: 10px;
        width: 100%;
        height: 370px;
        
    }

    .img-tela3 .img1 {
        background: url('/public/images/img1.png') center;
    }

    .img-tela3 .img2 {
        background: url('/public/images/img2.png')center;
    }

    .info-span {
        
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 1rem;
        height: 42%;
        margin-top: 11.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .info-span h1 {
        font-size: 24px;
        width: 100%;
        word-wrap: break-word;
    }
    .info-span p {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        color: darkgrey;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    .tela3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .info-tela3 {
        text-align: center;
        width: 70%;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }

    .info-tela3 h1 {
        font-size: 42px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
        overflow: hidden;
        hyphens: auto;
    }

    .info-tela3 p {
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        color: rgb(0, 0, 0);
    }

    .img-tela3 {
        gap: 90px;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .img-tela3 #img {
        border-radius: 10px;
        width: 30%;
        height: 40rem;
        justify-content: center;
    }

    .img-tela3 .img1 {
        background: url('/public/images/img1.png') center;
    }

    .img-tela3 .img2 {
        background: url('/public/images/img2.png')center;
    }

    .info-span {
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 1rem;
        height: 20%;
        margin-top: 30rem;
        border-radius: 0 0 1rem 1rem;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .info-span h1 {
        font-size: 24px;
    }
    .info-span p {
        font-size: 16px;
        color: darkgrey;
    }
}