@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');


.info-tela2 h1 {
    font-family: "Ribeye", Arial, Helvetica, serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and (max-width: 425px) {
    .tela2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .info-tela2 {
        width: 100%;
        margin-bottom: 1rem;
    }

        .info-tela2 h1 {
        font-size: 24px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
    }

        .info-tela2 p {
            font-size: 16px;
            line-height: 1.5;
            word-wrap: break-word;
            overflow: hidden;
            hyphens: auto;
            box-sizing: border-box;
    }

    .img-tela2 {
        gap: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .img-tela2 img {
        border-radius: 5px;
        width: 30%;
        height: 150px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .tela2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .info-tela2 {
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
    }

        .info-tela2 h1 {
        font-size: 24px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
    }

        .info-tela2 p {
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 0 auto;
            font-size: 16px;
            line-height: 1.5;
            word-wrap: break-word;
            overflow: hidden;
            hyphens: auto;
            width: 80%;
    }

    .img-tela2 {
        gap: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }

    .img-tela2 img {
        border-radius: 5px;
        width: 25%;
        height: 15rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tela2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .info-tela2 {
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
    }

        .info-tela2 h1 {
        font-size: 24px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
    }

        .info-tela2 p {
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 0 auto;
            font-size: 16px;
            line-height: 1.5;
            word-wrap: break-word;
            overflow: hidden;
            hyphens: auto;
            width: 80%;
            margin-top: 2rem;
            margin-bottom: 2rem;
    }

    .img-tela2 {
        gap: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .img-tela2 img {
        border-radius: 5px;
        width: 25%;
        height: 20rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .tela2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .info-tela2 {
        text-align: center;
        width: 90%;
        margin-bottom: 1rem;
    }

        .info-tela2 h1 {
        font-size: 24px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
    }

        .info-tela2 p {
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 0 auto;
            font-size: 16px;
            line-height: 1.5;
            word-wrap: break-word;
            overflow: hidden;
            hyphens: auto;
            width: 80%;
            margin-top: 2rem;
            margin-bottom: 2rem;
    }

    .img-tela2 {
        gap: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .img-tela2 img {
        border-radius: 5px;
        width: 25%;
        height: 30rem;
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {

    .tela2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-tela2 {
        text-align: center;
        width: 70%;
        margin-bottom: 5rem;
    }

    .info-tela2 h1 {
        font-size: 24px;
        margin-bottom: 1rem;
        word-wrap: break-word;
        color: darkcyan;
        overflow: hidden;
        hyphens: auto;
    }

    .info-tela2 p {
         text-align: center;
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
        overflow: hidden;
        hyphens: auto;
    }

    .img-tela2 {
        gap: 90px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .img-tela2 img {
        border-radius: 20px;
        width: 20%;
        height: 30rem;
    }
}